.blog-card {
  width: 320px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  box-shadow: 8px 5px 0px 5px #000000;
}

.blog-image {
  width: 95%;
  align-self: center;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 8px;
}

.blog-tag {
  color: black;
  margin-left: 16px;
  margin-top: 12px;
  background: #FEE1A5;
  width: fit-content;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.blog-date {
  margin-left: 16px;
  font-size: 12px;
  color: gray;
}

.blog-title {
  color:black;
  margin: 0 16px;
  font-size: 18px;
}

.blog-description {
  margin: 0 16px;
  font-size: 14px;
  color: #444;
  flex-grow: 1;
}

.blog-author {
  color: black;
  margin: 0 16px;
  font-weight: bold;
  font-size: 14px;
}
